<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkLink">
        <activity android:name=".RegisterActivity" />

        <!-- Worker Module -->
        <activity android:name=".worker.WorkerDashBoard" />
        <activity android:name=".worker.JobFeedActivity" />
        <activity android:name=".worker.WorkerProfileActivity" />
        <activity android:name=".worker.EarningsActivity" />
        <activity android:name=".worker.ResumeViewerActivity" />
        <activity android:name=".worker.ApplicationsActivity" />

        <!-- Employer Module -->
        <activity android:name=".employer.EmployerDashBoard" />
        <activity android:name=".employer.SearchWorkerActivity" />
        <activity android:name=".employer.PostJobActivity" />
        <activity android:name=".employer.VerifyActivity" />
        <activity android:name=".employer.PaymentRatingActivity" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
